* {
   margin: 0;
   padding: 0;
 }
 a {
   text-decoration: none;
 }
 li {
   list-style: none;
 }
 header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #1d1d1d;
    height: 150px;
 }
 